:root ._dsp-flex{display:flex;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-1{flex-shrink:1;}
:root ._ai-center{align-items:center;}
:root ._fg-1{flex-grow:1;}
:root ._mt-8px{margin-top:8px;}
:root ._mr-8px{margin-right:8px;}
:root ._mb-8px{margin-bottom:8px;}
:root ._ml-8px{margin-left:8px;}
:root ._ai-stretch{align-items:stretch;}
:root ._gap-12px{gap:12px;}
:root ._w-10037{width:100%;}
:root ._maw-500px{max-width:500px;}